@{
    ViewData["Title"] = "Suzie's Hobbies";
}

<div class="text-center">
    <h1 class="display-4">Flower Arrange Tutor</h1>
    <br />
    <img src="~/img/pumpkin_flower.jpg" width="400" height="600" style="float: left; margin-right: 50px;"/>
    <br />
    <p>
        Flower arrangement, an art form that combines creativity, nature, and personal expression,is a deeply fulfilling hobby that transcends mere decoration.
    </p>
    <p>
    It's a practice where the delicate balance of color, texture, and composition come together to breathe life into spaces, making them more vibrant and emotionally resonant.
    For enthusiasts, the act of arranging flowers is both meditative and exhilarating, offering a unique way to connect with the natural world while showcasing one's artistic flair. 
    Each creation tells a story, reflecting the arranger's mood, the season, or a special occasion, making it a deeply personal and rewarding endeavor. 
    Whether working with wildflowers or exotic blooms, the hobby of flower arrangement fosters a sense of beauty, harmony, and mindfulness, enriching not only the spaces it adorns but also the lives of those who practice it.</p>

    <br />
    <img src="~/img/budvase.jpg" width="400" height="600" style="float: right; margin-left: 50px;"/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <p><a asp-area="" asp-controller="Home" asp-action="Calculator">Click here</a> to calculate the tutor price </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
    <p>The photos are various designs of flower arrangement that I have done. The pumpkin design uses a small pumpkin as a container with floral foam.
        The cube design uses multiple flowers with similar color to create harmony through the design.</p>
    <p>
        flower arrangement fosters creativity and self-expression. Each creation is a unique expression of the arranger's personality, emotions, and aesthetic preferences. This form of art provides an outlet for personal expression and can boost self-esteem when individuals take pride in their beautiful creations.

    </p>
    <br />
    <br />
    <br />
    <br />
    <br />

</div>

